.agri{
    /* height: 100vh; */
    background:
        /* top, transparent black, faked with gradient */
        linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
        /* bottom, image */
        url(https://images.unsplash.com/photo-1492496913980-501348b61469?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8YWdyaWN1bHR1cmV8ZW58MHx8MHx8fDA%3D);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.agri-row{
    padding-top: 9rem;

}
.agri-img{
    border: 1px solid white;
}
.card-b{
    background:
        /* top, transparent black, faked with gradient */
        linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
        /* bottom, image */
        url(https://static.vecteezy.com/system/resources/thumbnails/018/752/867/small/abstract-background-design-background-texture-design-with-abstract-style-creative-illustration-for-advertising-posters-business-cards-flyers-websites-banners-covers-landings-pages-etc-free-vector.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}