.text-start {
    letter-spacing: 1px;
    padding: 10px;
}

.dark{
    border:3px;
    border-radius: 30px;
}
#knowmore{
    margin: auto;
    justify-items: center;
    align-items: center;
    border:1px solid rgb(255, 255, 255);
}
#knowmore:hover{
    transform: none;
    border: 2px solid rgb(255, 255, 255);
}
.body-c{
    background:
    /* top, transparent black, faked with gradient */
    linear-gradient(rgba(30, 3, 105, 0.7),
        rgba(30, 1, 94, 0.7),rgba(1, 41, 97, 0.7),rgba(35, 23, 67, 0.7))
    /* bottom, image */
    ;
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}