.card-home {
    position: relative;
    top: 40%;
    /* left: 15%; */
}

.title {
    letter-spacing: 2px;
    font-weight: 200;
    font-style: normal;
    font-size: large;
    font-size: 1.3rem;

}

.title-gen {
    letter-spacing: 5.5px;
    font-weight: 400;
    font-style: normal;
}

.titl-p {
    font-size: 16px;

}

.dark {
    border-radius: 50px;
}

.dark:hover {
    cursor: pointer;
    border: 1px solid white;
    transform: scale(1.1);
    color:aliceblue;
    background-color: black;
}
.down{
padding: 20px;

}
.z {
    font-family: "Jost", sans-serif;
    font-weight: 300;

}

.card-dig {
    position: relative;
    top: 30%;
}


.digital-row {
    padding-top: 15%;
    /* padding-bottom: 5%; */
    height: 100vh;
    position: static;
    height: 100vh;
    /* text-align: center; */
    background:
        /* top, transparent black, faked with gradient */
        linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
        /* bottom, image */
        url(https://i.pinimg.com/564x/b4/af/e2/b4afe208f158ec79fb581165acda1fc9.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.explore {
    margin-top:50px;
    font-size: 6vh;
    font-weight: 700;
    letter-spacing: 2px;
}

.gen-z {
    position: static;
    height: 100vh;
    /* text-align: center; */
    background:
        /* top, transparent black, faked with gradient */
        linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(39, 37, 37, 0.7)),
        /* bottom, image */
        url("https://source.unsplash.com/random/?Tech/");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.digital-services {
    position: static;
    height: max-content;
    text-align: center;
    /* padding:30px; */
    background:
        /* top, transparent black, faked with gradient */
        linear-gradient(rgba(9, 1, 30, 0.7),
            rgba(1, 0, 21, 0.7)),
        /* bottom, image */
        url(https://i.pinimg.com/564x/66/23/36/662336b2e1a179a4c0083cb945f52ade.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.crd:hover{
box-shadow: 2px 2px blue;
transform: scale(1.2);
}

/* body::-webkit-scrollbar {
    width: 10px;
    /* width of the entire scrollbar */
/* }
*/

/*

body::-webkit-scrollbar-thumb {
    border-radius: 20px;
    /* roundness of the scroll thumb */
    /* border: 3px solid rgb(84, 75, 59); */
    /* creates padding around scroll thumb */
/* }
 */

/* https://i.pinimg.com/564x/e0/89/7a/e0897ad9340189ca77e21e67cf958030.jpg
https://i.pinimg.com/564x/66/23/36/662336b2e1a179a4c0083cb945f52ade.jpg
https://i.pinimg.com/564x/b4/af/e2/b4afe208f158ec79fb581165acda1fc9.jpg */