/* .internship-page{
    height: 100vh;
} */

.apply-link {
    color: rgb(96, 215, 116);
    font-weight: 300;
}


down-link {
    color: blue;
}

down-link:hover {
    cursor: pointer;
}


.backg-row {
    height: 60vh;
    background:
        /* top, transparent black, faked with gradient */
        /* linear-gradient(rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)), */
        /* bottom, image */
        url(https://images.unsplash.com/photo-1497366754035-f200968a6e72?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.internship-page {
    background:
        /* top, transparent black, faked with gradient */
        linear-gradient(rgba(8, 0, 0, 0.7),
            rgba(18, 18, 18, 0.7)),
        url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqzeMJTvGzvF-X-vgXz-dSBYg0xDec-sbNyM6hm6WK4bga5QJpu4Yk170nT6V01H2SINI&usqp=CAU);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}