.navbar{
    margin-left: 1rem;
    margin-right: 1rem;
    border-bottom: 1px solid white;
    padding: 1rem;
    backdrop-filter: blur(10px);
}
.text-white{
    color: white;
}
.links{
    font-weight: 400;
    color: rgb(255, 255, 255);
    transition: 0.3s;
    margin-left: 1rem;
}
.links:hover{
    background-color: rgb(255, 255, 255);
    color:rgb(14, 3, 82);
    transition: color,0.3s;
    }

.body-b{
    background:
        /* top, transparent black, faked with gradient */
        linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
        /* bottom, image */
        url(https://i.pinimg.com/564x/d9/ce/ea/d9ceea5f922710eec649a3c835e5a6fa.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* // style={{"background":"linear-gradient(rgba(30, 139, 195),rgba(0, 181, 204),url("https://i.pinimg.com/564x/d8/c0/e3/d8c0e3bd6e480bbe224b94c55b85c333.jpg")","border":"2px solid cyan"}} > */