html {
  scroll-behavior: smooth;
}

* {
  /* letter-spacing: 2px; */
  font-family: "Josefin Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 0.9rem;
  margin: 0;
  box-sizing: 0;
}








/* .col-md-12{
  position: relative;
}
.card-home{
  position: absolute;
  top: 50%;
} */

/* .navbar{
  position: fixed;
  top:0;
} */